---
---

@import "{{ site.theme }}";

.inner {
    max-width: 50%;
}

.column {
    float: left;
    width: 30%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

code {
    font-size: smaller; // Relatif au parent plutôt qu'absolu.
}

figcaption {
    color: darkgray;
    font-style: italic;
    font-size: small;
}

figure {
    text-align: center;
    padding: 3px;
}

img {
    border-style: none;
}

p {
    text-align: justify;
}
